# Dependencies
node_modules/
**/node_modules/

# Production build outputs
dist/
**/dist/
dist-ssr/
**/dist-ssr/
.output/
**/.output/

# Environment files
.env
.env*.local
**/.env
**/.env*.local

# Frontend files (globetrotter/src, public, and supabase tracked)
!globetrotter/src/
!globetrotter/public/
globetrotter/*.json
globetrotter/package*.json
globetrotter/*.ts
globetrotter/*.js
globetrotter/.*rc
globetrotter/.*ignore

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System & Editor
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
